{# je utilise l'héritage de twig pour
restituer le contenu du bloc parent (base.html.twig #}
{% extends "User/base.html.twig" %}

{% block metatitle %}{{ parent()}}Calendrier{% endblock %}

{% block main %}

    <section>
        <div class="calendrier">
            <header class="calendrier-header">
                <div class="date">
                    <span class="jour">09</span>
                    <span>Janv</span>
                </div>
                <h4 class="division-name">3ème / 4ème Série  - Championnat Territorial</h4>
                <span class="sous-titre">Journée 10</span>
            </header>
            <div class="calendrier__info">
                <span class="calendrier__info__team">AS Lacanau</span>
                <div class="calendrier__info__teams">
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" class="default ">
                    <span class="calendrier__info__vs"><strong>VS</strong></span>
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1320.jpg" class="default">
                </div>
                <span class="calendrier__info__team">SC St Pierre Du Mont</span>
            </div>
        </div>

        <div class="calendrier">
            <header class="calendrier-header">
                <div class="date">
                    <span class="jour">16</span>
                    <span>Janv</span>
                </div>
                <h4 class="division-name">3ème / 4ème Série  - Championnat Territorial</h4>
                <span class="sous-titre">Journée 11</span>
            </header>
            <div class="calendrier__info">
                <span class="calendrier__info__team">AS Lacanau</span>
                <div class="calendrier__info__teams">
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" class="default ">
                    <span class="calendrier__info__vs"><strong>VS</strong></span>
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1320.jpg" class="default">
                </div>
                <span class="calendrier__info__team">SC St Pierre Du Mont</span>
            </div>
        </div>

        <div class="calendrier">
            <header class="calendrier-header">
                <div class="date">
                    <span class="jour">30</span>
                    <span>Janv</span>
                </div>
                <h4 class="division-name">3ème / 4ème Série  - Championnat Territorial</h4>
                <span class="sous-titre">Journée 12</span>
            </header>
            <div class="calendrier__info">
                <span class="calendrier__info__team">AS Lacanau</span>
                <div class="calendrier__info__teams">
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" class="default ">
                    <span class="calendrier__info__vs"><strong>VS</strong></span>
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1320.jpg" class="default">
                </div>
                <span class="calendrier__info__team">SC St Pierre Du Mont</span>
            </div>
        </div>

        <div class="calendrier">
            <header class="calendrier-header">
                <div class="date">
                    <span class="jour">06</span>
                    <span>Fevr</span>
                </div>
                <h4 class="division-name">3ème / 4ème Série  - Championnat Territorial</h4>
                <span class="sous-titre">Journée 13</span>
            </header>
            <div class="calendrier__info">
                <span class="calendrier__info__team">AS Lacanau</span>
                <div class="calendrier__info__teams">
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" class="default ">
                    <span class="calendrier__info__vs"><strong>VS</strong></span>
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1320.jpg" class="default">
                </div>
                <span class="calendrier__info__team">SC St Pierre Du Mont</span>
            </div>
        </div>

        <div class="calendrier">
            <header class="calendrier-header">
                <div class="date">
                    <span class="jour">20</span>
                    <span>Fevr</span>
                </div>
                <h4 class="division-name">3ème / 4ème Série  - Championnat Territorial</h4>
                <span class="sous-titre">Journée 14</span>
            </header>
            <div class="calendrier__info">
                <span class="calendrier__info__team">AS Lacanau</span>
                <div class="calendrier__info__teams">
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" class="default ">
                    <span class="calendrier__info__vs"><strong>VS</strong></span>
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1320.jpg" class="default">
                </div>
                <span class="calendrier__info__team">SC St Pierre Du Mont</span>
            </div>
        </div>

        <div class="calendrier">
            <header class="calendrier-header">
                <div class="date">
                    <span class="jour">06</span>
                    <span>Mars</span>
                </div>
                <h4 class="division-name">3ème / 4ème Série  - Championnat Territorial</h4>
                <span class="sous-titre">Journée 15</span>
            </header>
            <div class="calendrier__info">
                <span class="calendrier__info__team">AS Lacanau</span>
                <div class="calendrier__info__teams">
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" class="default ">
                    <span class="calendrier__info__vs"><strong>VS</strong></span>
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1320.jpg" class="default">
                </div>
                <span class="calendrier__info__team">SC St Pierre Du Mont</span>
            </div>
        </div>

        <div class="calendrier">
            <header class="calendrier-header">
                <div class="date">
                    <span class="jour">13</span>
                    <span>Mars</span>
                </div>
                <h4 class="division-name">3ème / 4ème Série  - Championnat Territorial</h4>
                <span class="sous-titre">Journée 16</span>
            </header>
            <div class="calendrier__info">
                <span class="calendrier__info__team">AS Lacanau</span>
                <div class="calendrier__info__teams">
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" class="default ">
                    <span class="calendrier__info__vs"><strong>VS</strong></span>
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1320.jpg" class="default">
                </div>
                <span class="calendrier__info__team">SC St Pierre Du Mont</span>
            </div>
        </div>

        <div class="calendrier">
            <header class="calendrier-header">
                <div class="date">
                    <span class="jour">27</span>
                    <span>Mars</span>
                </div>
                <h4 class="division-name">3ème / 4ème Série  - Championnat Territorial</h4>
                <span class="sous-titre">Journée 17</span>
            </header>
            <div class="calendrier__info">
                <span class="calendrier__info__team">AS Lacanau</span>
                <div class="calendrier__info__teams">
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" class="default ">
                    <span class="calendrier__info__vs"><strong>VS</strong></span>
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1320.jpg" class="default">
                </div>
                <span class="calendrier__info__team">SC St Pierre Du Mont</span>
            </div>
        </div>

        <div class="calendrier">
            <header class="calendrier-header">
                <div class="date">
                    <span class="jour">10</span>
                    <span>Avr</span>
                </div>
                <h4 class="division-name">3ème / 4ème Série  - Championnat Territorial</h4>
                <span class="sous-titre">Journée 18</span>
            </header>
            <div class="calendrier__info">
                <span class="calendrier__info__team">AS Lacanau</span>
                <div class="calendrier__info__teams">
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" class="default ">
                    <span class="calendrier__info__vs"><strong>VS</strong></span>
                    <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1320.jpg" class="default">
                </div>
                <span class="calendrier__info__team">SC St Pierre Du Mont</span>
            </div>
        </div>

    </section>
{% endblock main %}